.Carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content{
    display: flex; 
    position: relative;
    width: 66%;
    transition: transform 0.5s ease; /* Ajout de la transition pour le défilement en douceur */
}

.Content img{
    width: 200px; 
    height: 150px;
    margin: 5px;
}

.carousel-image {
    width: 25%; /* Ajustez la largeur en fonction du nombre d'images affichées */
    height: auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease; /* Ajout de la transition pour le changement en douceur */
  }

  .carousel-image.active {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

.items{
    margin-right: 4%;
}

.prix{
    font-size: 80%;
    display: flex;
    font-weight: bold;
}

.prix p:nth-child(2){
    margin-left: auto;
}



.Pagination{
    position: absolute;
    bottom: -7%;
    display: flex;
    left: 50%;
    width: 7%;
    font-size: 82%;
    transform: translateX(-50%);
}


.Pagination span{
    display: inline-block;
    width: 99%;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8%;
}

.carousel-item.visible {
    opacity: 1;
    transition-delay: 0.2s; /* Ajout d'un délai pour la transition de fondu */
  }

  .carousel-item {
    margin: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .Carrousel button {
    border: none;
    background-color: white;
  }

  @media only screen and (max-width: 1000px) {
    .items{
        flex: 0 0 100%;
        align-self: center;
    }

    .Content {
        display: flex;
        flex-direction: column;
    }
}
