.Footer{
    background-color: #575757;
    margin-top: 5%;
    display: flex;
    padding: 1%;
}

.logofooter{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

.mentions{
    display: flex;
    color: white;
    width: 35%;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 80%;
    margin-right: 9%;
    margin-left: 10%;
}

.reseaux{
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 3%;
}

.reseaux img{
    margin-right: 28%;
}

.store{
    display: flex;
    width: 14%;
    height: 24%;
    margin-bottom: auto;
    margin-top: auto;
}

.store img{
    margin-right: 5%;
}

.mentions p:nth-child(2){
    border-left: solid;
    border-right: solid;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

@media only screen and (max-width: 1000px) {
    .Footer {
        display: flex;
        flex-direction: column;
    }

    .logofooter {
        margin-top: 5%;
        text-align: center;
    }

    .mentions {
        width: 88%;
        font-size: 61%;
        margin: auto;
    }

    .store {
        display: flex;
        width: 55%;
        height: 24%;
        margin: auto;
    }

    .reseaux img {
        margin-right: 15%;
    }

    .reseaux {
        display: flex;
        width: 17%;
        margin: auto;
        margin-top: 4%;
    }
}