.header {
    display: flex;
  
    .logo {
      margin: auto;
      margin-left: 5%;
      width: 10%;
      height: 10%;
      gap: 0px;
      opacity: 0px;
    }
  
    .nav {
      display: flex;
      margin-left: auto;
      width: 55%;
      font-weight: bold;
      font-size: 80%;
  
      p {
        margin-right: 5%;
  
        &:nth-child(5) {
          border-left: solid 1px rgba(0, 0, 0, 0.25);
          padding-left: 5%;
        }
      }
  
      button {
        border-radius: 43px;
        height: 50%;
        width: 18%;
        margin-top: auto;
        margin-bottom: auto;
        border: none;
        font-weight: bold;
        font-size: 80%;
      }
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .header {
      display: flex;
      flex-direction: column;
  
      .logo {
        margin: auto;
        margin-top: 8%;
        width: 33%;
        height: 10%;
        gap: 0px;
        opacity: 0px;
      }
  
      .nav {
        display: flex;
        flex-wrap: wrap;
        width: 88%;
        font-size: 57%;
        justify-content: center;
  
        button {
          border-radius: 43px;
          width: 33%;
          margin-top: auto;
          margin-bottom: auto;
          border: none;
          font-weight: bold;
          padding: 1%;
          font-size: 80%;
        }
      }
    }
  }