body {
    margin: 0;
  }
  
  #Part1 {
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 87%;
    margin-bottom: 5%;
  
    h1 {
      width: 70%;
      margin: auto;
    }
  
    p {
      width: 70%;
      margin: auto;
      font-size: 64%;
      margin-top: 4%;
      font-weight: bold;
    }
  
    button {
      width: 70%;
      margin-top: 5%;
      border-radius: 43px;
      width: 33%;
      padding: 2%;
  
      &:nth-child(2) {
        background-color: #D9D9D9;
        border-color: #D9D9D9;
        font-weight: bold;
        margin-left: 10%;
        border-width: thin;
      }
  
      &:first-child {
        background-color: white;
        border-color: #D9D9D9;
        font-weight: bold;
        border-width: thin;
      }
    }
  }
  
  .content {
    margin: auto;
  }
  
  .button {
    width: 70%;
    margin: auto;
  }
  
  #Part2 {
    padding-top: 2%;
    background-color: #F5F5F5;
  
    .content {
      width: 55%;
      text-align: center;
  
      p {
        font-size: 64%;
        font-weight: bold;
      }
    }
  }
  
  .Card {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 62%;
  }
  
  .Sellers-item {
    position: relative;
    margin-left: 4%;
    width: auto;
    margin-bottom: 5%;
  
    .text-overlay {
      opacity: 0;
      transition: opacity 0.5s ease;
      position: absolute;
      bottom: 3%;
      right: 0px;
      background-color: #848484;
      font-size: 42%;
      height: 28%;
      width: 100%;
  
      h2 {
        margin: 1%;
      }
  
      p {
        margin: 1%;
        color: #F5F5F5;
      }
    }
  
    &:hover .text-overlay {
      opacity: 1;
    }
  
    .img-overlay {
      opacity: 1;
      position: absolute;
      bottom: 3%;
      right: 0px;
      background-color: #848484;
      padding: 10px;
    }
  
    &:hover .img-overlay {
      opacity: 0;
    }
  }
  
  #Part3 {
    background-color: white;
    margin-top: 8%;
  
    h1 {
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    #Part1 {
      display: flex;
      flex-direction: column;
  
      h1 {
        font-size: 129%;
      }
    }
  
    .div-img {
      width: 100%;
      height: 98%;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    .image1 img {
      width: 100%;
      margin: auto;
    }
  
    .button {
      width: 96%;
      text-align: center;
    }
  
    .Card {
      flex-wrap: wrap;
      width: 62%;
      text-align: center;
      justify-content: center;
    }
  
    .img-overlay {
      bottom: 2%;
      right: 0%;
      padding: 1%;
    }
  
    .text-overlay {
      bottom: 2%;
      right: 0px;
      font-size: 42%;
      height: 36%;
    }
  }